button[type='button'] {
	width: 30%;
}

.jdc-message {
	margin: 0;
	font-size: 13px;
  font-family: Menlo, monospace;
  line-height: 1.3em;
  color: black;
}

.jdc-message-error {
	color: #dc3545;
	background-color: #f9dcdf;
}

.jdc-message-warn {
	background-color: #ffde7d;
}

.jdc-message-info {
	background: #fff;
}

.jdc-message-log {
	background: #fff;
}

.jdc-message-ajax {
	background: #fff;
}

table {
	border: none;
}

tr {
	border: none;
}

th.icon {
	width: 4px;
	text-align: center;
	border: none;
}

th.icon-error {
	color: #dc3545;
}

th.icon-warn {
  color: #ffde7d;
}

th.message, th.input-cmd {
	width: 100%;
	text-align: left;
	padding-left: 5px;
	border: none;
}

th.placeholder {
	text-align: center;
	width: 6px;
	color: #007bff;
	padding: .500rem .75rem;
}

table.cmd {
	position: absolute;
  bottom: 0;
}

h4 {
	margin:0; 
	padding-top:5px; 
	padding-bottom:5px; 
	padding-left:5px;
	display: inline;
}

.window-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0;
  background-color: white;
	overflow: auto;
	font-size: 13px;
  font-family: Menlo, monospace;
  line-height: 1.3em;
}

input[type="text"] {
	border: none;
	outline: none;
	font-size: 13px;
  font-family: Menlo, monospace;
  line-height: 1.3em;
}

input[type="text"]:focus {
	border: none;
	outline: none;
}

.window {
	display: none;
	height: 70vh;
	width: 80vw;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 4px 12px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 4px 12px rgba(0,0,0,.5);
  box-shadow: 0 4px 12px rgba(0,0,0,.5);
  overflow:auto;
  border:1px solid #C1C2C2;
  background: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.topbar {
  padding: 7px 0;
  position: relative;
  background: #f1f1f1;
  background: -moz-linear-gradient(top, #E9E9E9 3%, #e6e4e7 100%);
  background: -webkit-gradient(left top, left bottom,color-stop(3%, #E9E9E9), color-stop(100%, #e6e4e7));
  background: -webkit-linear-gradient(top, #E9E9E9 3%, #e6e4e7 100%);
  background: -o-linear-gradient(top, #E9E9E9 3%, #e6e4e7 100%);
  background: -ms-linear-gradient(top, #E9E9E9 3%, #e6e4e7 100%);
  background: linear-gradient(to bottom, #E9E9E9 3%, #e6e4e7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#d8d8d8', GradientType=0 ); 
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.76);
  -moz-box-shadow:    inset 0px 1px 1px 0px rgba(255, 255, 255, 0.76);
  box-shadow:         inset 0px 1px 1px 0px rgba(255, 255, 255, 0.76);  
  min-height: 24px;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

.topbar > div {
  float: left;
}

.stoplight {
  padding-left: 9px;
  padding-top: 2px;
}

.stoplight > span {
  display:inline-block;
  float: left;
  width: 12px;
  height: 12px;
  margin-right: 7px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;  
  cursor: pointer;
}
.stoplight span.close {
  background: #dc3545;
  opacity: .9;
  margin-top: 3.5px;
}

.row {
	padding-bottom: 5px;
}

#js-input-text {
	width: 100%; 
	position: absolute; 
	bottom: 0;
	cursor: text;
	padding: .500rem .15rem;
	z-index: 999;
}

#js-draggable-button {
	position: relative;
	height: 35px;
	width: 35px;
	background-color: transparent;
	border: solid 2px #000;
	z-index: 999;
	border-radius: 0px;
	left: 2%;
	cursor: move;
	padding-left: 6px;
  padding-top: 2px;
}
